* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroud {
  background-image: url("../../../assets/lg.jpg");
  height: 100vh;
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box {
  background-color: azure;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 50px black;
}