* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backGroud {
  background-image: url("../../assets/lg.jpg");
  height: 100vh;
  object-fit: cover;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.box-manager {
  background-color: azure;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 2px 2px 50px black;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  color: rgb(5, 5, 150);
  border-bottom: 2px solid black;
}

.title {
  text-align: center;
  margin-top: 24px;
  color: rgb(5, 5, 150);
}

.menu-item {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.Employee,
.ManagerAccounts,
.Profile,
.Salary {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 250px;
}

.Employee p,
.ManagerAccounts p,
.Profile p,
.Salary p {
  margin: 10px 0;
}

.Employee p:hover,
.ManagerAccounts p:hover,
.Profile p:hover,
.Salary p:hover {
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 5px;
  transition: 0.3s;
}

.logout {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.logout button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgb(5, 5, 150);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout button:hover {
  background-color: rgb(1, 1, 57);
}