*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.webCam{
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/lg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Webcam{
    padding-top: 150px;
}

.cam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    gap: 20px;
}

.cam h1{
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.bt-login{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    align-content: center;
    margin-right: 32px;
}

.bt-login button{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #2563eb;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}   